* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
}

header {
  background-color: grey;
  display: flex;
  align-items: center;
}

header h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}
